<h1 class="h1 Line">Blocks</h1>

<p>The CSS for blocks is table-based using 'display:table' and 'display:table-cell'</p>

<div class="o-tbl">
  <div class="tbl">
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl</span></div></div>
  </div>
</div>
<div class="o-tbl SpcA">
  <div class="tbl">
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcA</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcA</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcA</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcA</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcA</span></div></div>
  </div>
</div>
<div class="o-tbl SpcB">
  <div class="tbl">
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcB</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcB</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcB</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcB</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcB</span></div></div>
  </div>
</div>
<div class="o-tbl SpcC">
  <div class="tbl">
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcC</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcC</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcC</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcC</span></div></div>
    <div class="cll"><div class="block">Block <span class="cname">.o-tbl.SpcC</span></div></div>
  </div>
</div>

<h1 class="h1 Line">Boxes</h1>

<p>Boxes are float based and use 'float:left' coupled with a width.</p>

<div class="o-box SpcA m_Wd100A m_Wd50B m_Wd33C Wd25">
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
</div>

<div class="o-box SpcA Wd33 m_Wd25C m_Wd100A">
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
</div>

<div class="o-box SpcA m_Wd50A m_Wd33C Wd25">
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="tbl">
      <div class="cll">
        <div class="block">Box <span class="op0-5 cname">.o-box</span></div>
      </div>
    </div>
  </div>
</div>

<div class="cte WdB">

  <h1 class="h1 Line">Buttons</h1>

  <div class="o-tbl SpcA">
    <div class="tbl Auto">
      <div class="cll">
        <button class="btn">
          <label>Button <span class="cname">.btn</span></label>
        </button>
      </div>
      <div class="cll">
        <button class="btn">
          <div class="icn">
            <i class="fa fa-arrow-up"></i>
          </div>
        </button>
      </div>
      <div class="cll">
        <button class="btn">
          <label>Icon (see left) <span class="cname">.btn > .icn</span></label>
        </button>
      </div>
      <div class="cll">
        <button disabled class="btn Icn">
          <label>Button <span class="cname">[disabled]</span></label>
          <div class="icn">
            <i class="fa fa-lock"></i>
            <i class="fa fa-unlock"></i>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="o-tbl SpcA">
    <div class="tbl">
      <div class="cll">
        <button class="btn Icn Lgt3- c_A">
          <label>Button Color<span class="cname">.btn.Lgt3-.c_A</span></label>
          <div class="icn">
            <i class="fa fa-arrow-right"></i>
          </div>
        </button>
      </div>
      <div class="cll">
        <button class="btn Icn c_A">
          <label>Button Color<span class="cname">.btn.c_A</span></label>
          <div class="icn">
            <i class="fa fa-arrow-right"></i>
          </div>
        </button>
      </div>
      <div class="cll">
        <button class="btn Icn Drk3- c_A">
          <label>Button Color<span class="cname">.btn.Drk3-.c_A</span></label>
          <div class="icn">
            <i class="fa fa-arrow-right"></i>
          </div>
        </button>
      </div>
    </div>
  </div>

</div>

<div class="cte WdB">

  <div class="h1 Line">Inputs</div>

  <div class="o-tbl">
    <div class="tbl Merge">
      <div class="cll">
        <div class="o-input" ng-class="{'focus':fcs1}"><input ng-focus="fcs1=1" ng-blur="fcs1=0" type="text" placeholder=".o-input > input"></div>
      </div>
    </div>
  </div>

  <div class="o-tbl">
    <div class="tbl">
      <div class="cll">
        <div class="o-input Icn" ng-class="{'focus':fcs2}">
          <input ng-focus="fcs2=1" ng-blur="fcs2=0" type="text" placeholder=".o-input.Icn > input">
          <div class="icn clDrk">
            <i class="fa fa-shield"></i>
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-tbl">
    <div class="tbl">
      <div class="cll">
        <div class="o-input Icn" ng-class="{'focus':fcs2}">
          <input disabled ng-focus="fcs2=1" ng-blur="fcs2=0" type="text" placeholder=".o-input > input[disabled]">
          <div class="icn clDrk op0-5">
            <i class="fa fa-lock"></i>
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="o-tbl">
    <div class="tbl Auto Merge">
      <div class="wd100p cll">
        <div class="o-input" ng-class="{'focus':fcs2}"><input ng-focus="fcs2=1" ng-blur="fcs2=0" type="text" placeholder=".o-input > input"></div>
      </div>
      <div class="cll">
        <button class="btn">
          <label>Button <span class="cname">.btn</span></label>
        </button>
      </div>
      <div class="cll">
        <button class="btn">
          <div class="icn">
            <i class="fa fa-shield"></i>
            <i class="fa fa-check"></i>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="o-tbl C_1_">
    <div class="tbl Auto Merge">
      <div class="cll wd100p">
        <div class="o-input" ng-class="{'focus':fcs3}"><input ng-focus="fcs3=1" ng-blur="fcs3=0" type="text" placeholder=".C_1_"></div>
      </div>
      <div class="cll">
        <button class="btn Icn">
          <label>Button <span class="cname">.C_1_</span></label>
          <div class="icn">
            <i class="fa fa-shield"></i>
            <i class="fa fa-check"></i>
          </div>
        </button>
      </div>
    </div>
  </div>

  <div class="o-tbl">
    <div class="tbl Auto Merge">
      <div class="cll wd75p">
        <div class="o-input" ng-class="{'focus':fcs4}"><input ng-focus="fcs4=1" ng-blur="fcs4=0" type="text" placeholder=".o-input > input"></div>
      </div>
      <div class="cll wd25p">
        <div class="o-input Drk2- c_Lgt" ng-class="{'focus':fcs5}"><input ng-focus="fcs5=1" ng-blur="fcs5=0" type="text" placeholder=".o-input > input"></div>
      </div>
      <div class="cll">
        <button class="btn Icn">
          <label>Button <span class="cname">.btn.Icn</span></label>
          <div class="icn">
            <i class="fa fa-shield"></i>
            <i class="fa fa-check"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>